body{
    background: linear-gradient(to bottom, #1B3A4B, #D67D3E, #E0E0E0);
    background-repeat: no-repeat;
    background-color: cover;

    display: grid;
    place-items: center;
    height: 100vh;
}

header
{
    text-align: center;
    color: #FFE4E1;
    background-color: rgba(0, 0, 0, 0);
    width: 40%;
    height: 60px;
    border-radius: 10px;
}

.Barra
{
    display: flex;
    justify-content: center;
    width: 96%;
}

ul
{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

li
{
    list-style: none;
    margin-inline: 10px;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    background-color: #8FBC8F;

    
}

li:hover
{
    background-color: rgba(0, 0, 0, 0.3);
    color: #00f1dc;
}

li.

a
{
    text-decoration: none;
    color: black;    
}

.margen
{
    margin-bottom: 60px;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article
{
    width: 450px;
    height: 150px;
    text-align: center;
    background-color: #8FBC8F;
    padding: 10px;
    border-radius: 15px;
}

article:hover    
{
    background-color: rgba(0, 0, 0, 0.3);
    color: #00f1dc;
}

h1
{
    color: #696969;
}

h1.Titulo
{
    color: #F5F5F5;
}

p
{
    color: #FFFAFA;
}

footer
{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}
