html{
    background: linear-gradient(to bottom, #1B3A4B, #D67D3E, #E0E0E0, #1B3A4B);
    background-attachment: fixed;
    height: 100%;
}

header
{
    text-align: center;
}

h1
{
    margin-top: 25px;
    color: #F5F5F5;
}

nav
{
    display: flex;
    justify-content: center;
    margin: 40px 30px 60px 0px;
}

.Barra
{
    display: flex;
    flex-direction: row;
}

li.ElementosBarra
{
    list-style: none;
    margin-inline: 5px;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    background-color: #8FBC8F;
}

li:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

a
{
    text-decoration: none;
    color: black;    
}

section.Principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.Principal
{
    max-width: 20%;
    min-width: 500px ;
    height: 150px;
    text-align: center;
    background-color: #413535;
    padding: 10px;
    border-radius: 15px;
    margin: 0 0 20px 0;
}

article:hover    
{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.3);
}

h2
{
    text-align: center;
    color: #696969;
}

p
{
    color: #FFFAFA;
}

.Ayuda
{
    min-width: 450px;
    width:60%;
    background-color: #413535;
    border-radius: 10px;
    padding: 10px 50px 20px 10px;
    color: #d1caca;
    font-size: 18px;
}


footer
{
    display: flex;
    justify-content: center;
}

.Pie
{
    position: fixed;
    bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.DiseñoBlog
{
    display: flex;
    flex-direction: row;
}

.CuadroInformacionPrincipal
{
    min-width: 300px;
    max-width: 1350px;
    height: auto;
    background-color: #413535;
    margin: 0px 0px 0px 25px;
    border-radius: 20px;
    padding: 10px 30px 10px 50px;
    font-size: 25px;
}

.CuadroInformacionSegundaria
{
    min-width: 300px;
    height: 350px;
    background-color: #413535;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

h3
{
    text-align: center;
    color: #696969;
}

section
{
    margin-bottom: 70px;
}