/*Estilos generales de la página*/
html{
    background: linear-gradient(to bottom, #1B3A4B, #D67D3E, #E0E0E0, #1B3A4B);/*Degradado de colores*/
    background-attachment: fixed;/*Fijar el fondo*/
    height: 100%;/*Altura de la página*/
}

/*Estilos de los elementos de la página*/
header
{
    text-align: center;
}

/*Estilos del encabezado*/
h1
{
    margin-top: 25px;
    color: #F5F5F5;
}

/*Estilos de la barra de navegación*/
nav
{
    display: flex;
    justify-content: center;
    margin: 40px 30px 60px 0px;
}

/*Estilos de la lista de la barra de navegación*/
.Barra
{
    display: flex;
    flex-direction: row;
}

/*Estilos de los elementos de la barra de navegación*/
li.ElementosBarra
{
    list-style: none;/*Quitar viñetas*/
    margin-inline: 5px;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    background-color: #8FBC8F;
}

/*Estilos de los elementos de la barra de navegación al pasar el ratón por encima*/
li:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

/*Estilos de los enlaces de la barra de navegación*/
a
{
    text-decoration: none;/*Quitar subrayado*/
    color: black;    
}

/*Estilos de los enlaces de la barra de navegación al pasar el ratón por encima*/
section.Principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos de los artículos*/
article.Principal
{
    max-width: 20%;
    min-width: 500px ;
    height: 150px;
    text-align: center;
    background-color: #413535;
    padding: 10px;
    border-radius: 15px;
    margin: 0 0 20px 0;
}

/*Estilos de los artículos al pasar el ratón por encima*/
article:hover    
{
    transform: scale(1.05); /*Aumentar el tamaño del artículo*/
    background-color: rgba(0, 0, 0, 0.3);
}

/*Estilos de los títulos de los artículos*/
h2
{
    text-align: center;
    color: #696969;
}

/*Estilos de los párrafos de los artículos*/
p
{
    color: #FFFAFA;
}

/*Estilos de los botones*/
.Ayuda
{
    min-width: 450px;
    width:60%;
    background-color: #413535;
    border-radius: 10px;
    padding: 10px 50px 20px 10px;
    color: #d1caca;
    font-size: 18px;
}

/*Estilos de los botones al pasar el ratón por encima*/
footer
{
    display: flex;
    justify-content: center;
}

/*Estilos del pie de página*/
.Pie
{
    position: fixed;/*Fijar el pie de página*/
    bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}

/*Estilos de la sección de información principal*/
.DiseñoBlog
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;/*Espacio entre los elementos*/
}

/*Estilos de los cuadros de información principal*/
.CuadroInformacionPrincipal
{
    min-width: 300px;
    max-width: 1350px;
    height: auto;
    background-color: #413535;
    margin: 0px 25px 0px 25px;
    border-radius: 20px;
    padding: 10px 30px 10px 50px;
    font-size: 25px;
}

/*Estilos de los títulos de los cuadros de información principal*/
h3
{
    text-align: center;
    color: #696969;
}

/*Estilos de los párrafos de los cuadros de información principal*/
section
{
    margin-bottom: 70px;
}

/*Estilos de las imágenes*/
img
{
    border-radius: 10px;
}

/*Estilos de las imágenes de Ignacio*/
.ImagenesIgnacio
{
    width: 40%;
}

/*Estilos de las imágenes de Ignacio al pasar el ratón por encima*/
img:hover
{
    transform: scale(1.1);
}

/*Estilos de las imágenes centradas*/
.ImagenesCentradas
{
    display: flex;
    justify-content: center;
    margin: auto;
}